html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.gradient {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 12%, rgba(213,178,210,1) 60%);
}


.page-header {
    margin top: 4rem;
    font-size: 1.25rem;
    color: #fff;

}

.feature {
    color: #fff;
}

.icon {
    color: #fff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    background-color: whitesmoke;
}

.gallery img {
    border-radius: 5%;
}

.services {
    color: #fff; 
}


